<a href="https://colab.research.google.com/github/CakeNuthep/Super_AI/blob/master/27_09_2020_Quize1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
import pandas as pd
import numpy as np

In [127]:
weather = pd.read_csv("/content/Plant_1_Weather_Sensor_Data.csv")
weather

                DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00   4135001  ...          22.857507          0.0
1     2020-05-15 00:15:00   4135001  ...          22.761668          0.0
2     2020-05-15 00:30:00   4135001  ...          22.592306          0.0
3     2020-05-15 00:45:00   4135001  ...          22.360852          0.0
4     2020-05-15 01:00:00   4135001  ...          22.165423          0.0
...                   ...       ...  ...                ...          ...
3177  2020-06-17 22:45:00   4135001  ...          21.480377          0.0
3178  2020-06-17 23:00:00   4135001  ...          21.389024          0.0
3179  2020-06-17 23:15:00   4135001  ...          20.709211          0.0
3180  2020-06-17 23:30:00   4135001  ...          20.734963          0.0
3181  2020-06-17 23:45:00   4135001  ...          20.427972          0.0

[3182 rows x 6 columns]

In [128]:
generation = pd.read_csv("/content/Plant_1_Generation_Data.csv",sep=',',error_bad_lines=False)
generation

              DATE_TIME  PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00   4135001  ...       0.000    6259559.0
1      15-05-2020 00:00   4135001  ...       0.000    6183645.0
2      15-05-2020 00:00   4135001  ...       0.000    6987759.0
3      15-05-2020 00:00   4135001  ...       0.000    7602960.0
4      15-05-2020 00:00   4135001  ...       0.000    7158964.0
...                 ...       ...  ...         ...          ...
68773  17-06-2020 23:45   4135001  ...    5967.000    7287002.0
68774  17-06-2020 23:45   4135001  ...    5147.625    7028601.0
68775  17-06-2020 23:45   4135001  ...    5819.000    7251204.0
68776  17-06-2020 23:45   4135001  ...    5817.000    6583369.0
68777  17-06-2020 23:45   4135001  ...    5910.000    7363272.0

[68778 rows x 7 columns]

In [129]:
generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [132]:
datetimeCorrect = generation.DATE_TIME.str.contains('^[0-9]*-[0-9]*-[0-9]* [0-9]*:[0-9]*$', regex=True)
generation = generation[datetimeCorrect == True]

In [131]:
datetimeCorrect

              DATE_TIME  PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00   4135001  ...       0.000    6259559.0
1      15-05-2020 00:00   4135001  ...       0.000    6183645.0
2      15-05-2020 00:00   4135001  ...       0.000    6987759.0
3      15-05-2020 00:00   4135001  ...       0.000    7602960.0
4      15-05-2020 00:00   4135001  ...       0.000    7158964.0
...                 ...       ...  ...         ...          ...
68773  17-06-2020 23:45   4135001  ...    5967.000    7287002.0
68774  17-06-2020 23:45   4135001  ...    5147.625    7028601.0
68775  17-06-2020 23:45   4135001  ...    5819.000    7251204.0
68776  17-06-2020 23:45   4135001  ...    5817.000    6583369.0
68777  17-06-2020 23:45   4135001  ...    5910.000    7363272.0

[68778 rows x 7 columns]

In [133]:
generation['DATE_TIME'] = pd.to_datetime(generation['DATE_TIME'], format='%d-%m-%Y %H:%M')

In [134]:
generation

                DATE_TIME  PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0     2020-05-15 00:00:00   4135001  ...       0.000    6259559.0
1     2020-05-15 00:00:00   4135001  ...       0.000    6183645.0
2     2020-05-15 00:00:00   4135001  ...       0.000    6987759.0
3     2020-05-15 00:00:00   4135001  ...       0.000    7602960.0
4     2020-05-15 00:00:00   4135001  ...       0.000    7158964.0
...                   ...       ...  ...         ...          ...
68773 2020-06-17 23:45:00   4135001  ...    5967.000    7287002.0
68774 2020-06-17 23:45:00   4135001  ...    5147.625    7028601.0
68775 2020-06-17 23:45:00   4135001  ...    5819.000    7251204.0
68776 2020-06-17 23:45:00   4135001  ...    5817.000    6583369.0
68777 2020-06-17 23:45:00   4135001  ...    5910.000    7363272.0

[68778 rows x 7 columns]

In [135]:
generation.isna().sum()

DATE_TIME      0
PLANT_ID       0
SOURCE_KEY     0
DC_POWER       0
AC_POWER       0
DAILY_YIELD    0
TOTAL_YIELD    0
dtype: int64

In [145]:
generation.PLANT_ID.unique()

array([4135001])

In [146]:
generation.SOURCE_KEY.unique()

array(['1BY6WEcLGh8j5v7', '1IF53ai7Xc0U56Y', '3PZuoBAID5Wc2HD',
       '7JYdWkrLSPkdwr4', 'McdE0feGgRqW7Ca', 'VHMLBKoKgIrUVDU',
       'WRmjgnKYAwPKWDb', 'ZnxXDlPa8U1GXgE', 'ZoEaEvLYb1n2sOq',
       'adLQvlD726eNBSB', 'bvBOhCH3iADSZry', 'iCRJl6heRkivqQ3',
       'ih0vzX44oOqAx2f', 'pkci93gMrogZuBj', 'rGa61gmuvPhdLxV',
       'sjndEbLyjtCKgGv', 'uHbuxQJl8lW7ozc', 'wCURE6d3bPkepu2',
       'z9Y9gH1T5YWrNuG', 'zBIq5rxdHJRwDNY', 'zVJPv84UY57bAof',
       'YxYtjZvoooNbGkE'], dtype=object)

In [136]:
weather.head()

             DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0  2020-05-15 00:00:00   4135001  ...          22.857507          0.0
1  2020-05-15 00:15:00   4135001  ...          22.761668          0.0
2  2020-05-15 00:30:00   4135001  ...          22.592306          0.0
3  2020-05-15 00:45:00   4135001  ...          22.360852          0.0
4  2020-05-15 01:00:00   4135001  ...          22.165423          0.0

[5 rows x 6 columns]

In [137]:
weather.isna().sum()

DATE_TIME              0
PLANT_ID               0
SOURCE_KEY             0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64

In [138]:
weather.describe()

        PLANT_ID  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
count     3182.0          3182.000000         3182.000000  3182.000000
mean   4135001.0            25.531606           31.091015     0.228313
std          0.0             3.354856           12.261222     0.300836
min    4135001.0            20.398505           18.140415     0.000000
25%    4135001.0            22.705182           21.090553     0.000000
50%    4135001.0            24.613814           24.618060     0.024653
75%    4135001.0            27.920532           41.307840     0.449588
max    4135001.0            35.252486           65.545714     1.221652

In [148]:
weather.PLANT_ID.unique()

array([4135001])

In [147]:
weather.SOURCE_KEY.unique()

array(['HmiyD2TTLFNqkNe'], dtype=object)

In [149]:
weather['DATE_TIME'] = pd.to_datetime(weather['DATE_TIME'])

In [151]:
len(weather.DATE_TIME.unique())

3182

In [143]:
len(generation.DATE_TIME.unique())

3158

In [152]:
print(len(generation))

68778

In [159]:
merg_data = pd.merge(generation, weather, on='DATE_TIME')
merg_data

                DATE_TIME  PLANT_ID_x  ... MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00     4135001  ...          22.857507          0.0
1     2020-05-15 00:00:00     4135001  ...          22.857507          0.0
2     2020-05-15 00:00:00     4135001  ...          22.857507          0.0
3     2020-05-15 00:00:00     4135001  ...          22.857507          0.0
4     2020-05-15 00:00:00     4135001  ...          22.857507          0.0
...                   ...         ...  ...                ...          ...
68769 2020-06-17 23:45:00     4135001  ...          20.427972          0.0
68770 2020-06-17 23:45:00     4135001  ...          20.427972          0.0
68771 2020-06-17 23:45:00     4135001  ...          20.427972          0.0
68772 2020-06-17 23:45:00     4135001  ...          20.427972          0.0
68773 2020-06-17 23:45:00     4135001  ...          20.427972          0.0

[68774 rows x 12 columns]

In [160]:
merg_data.describe()

       PLANT_ID_x      DC_POWER  ...  MODULE_TEMPERATURE   IRRADIATION
count     68774.0  68774.000000  ...        68774.000000  68774.000000
mean    4135001.0   3147.177450  ...           31.244997      0.232305
std           0.0   4036.441826  ...           12.308283      0.301948
min     4135001.0      0.000000  ...           18.140415      0.000000
25%     4135001.0      0.000000  ...           21.123944      0.000000
50%     4135001.0    428.571429  ...           24.818984      0.031620
75%     4135001.0   6365.468750  ...           41.693659      0.454880
max     4135001.0  14471.125000  ...           65.545714      1.221652

[8 rows x 9 columns]

In [161]:
merg_data.isna().sum()

DATE_TIME              0
PLANT_ID_x             0
SOURCE_KEY_x           0
DC_POWER               0
AC_POWER               0
DAILY_YIELD            0
TOTAL_YIELD            0
PLANT_ID_y             0
SOURCE_KEY_y           0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64

In [162]:
merg_data = merg_data.drop(['PLANT_ID_x','PLANT_ID_y','SOURCE_KEY_y'],axis=1)

In [163]:
merg_data

                DATE_TIME     SOURCE_KEY_x  ...  MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00  1BY6WEcLGh8j5v7  ...           22.857507          0.0
1     2020-05-15 00:00:00  1IF53ai7Xc0U56Y  ...           22.857507          0.0
2     2020-05-15 00:00:00  3PZuoBAID5Wc2HD  ...           22.857507          0.0
3     2020-05-15 00:00:00  7JYdWkrLSPkdwr4  ...           22.857507          0.0
4     2020-05-15 00:00:00  McdE0feGgRqW7Ca  ...           22.857507          0.0
...                   ...              ...  ...                 ...          ...
68769 2020-06-17 23:45:00  uHbuxQJl8lW7ozc  ...           20.427972          0.0
68770 2020-06-17 23:45:00  wCURE6d3bPkepu2  ...           20.427972          0.0
68771 2020-06-17 23:45:00  z9Y9gH1T5YWrNuG  ...           20.427972          0.0
68772 2020-06-17 23:45:00  zBIq5rxdHJRwDNY  ...           20.427972          0.0
68773 2020-06-17 23:45:00  zVJPv84UY57bAof  ...           20.427972          0.0

[68774 rows x 9 columns]

In [164]:
data_clean = merg_data.rename(columns = { 'SOURCE_KEY_x': 'SOURCE_KEY'}, inplace = False)

In [165]:
data_clean

                DATE_TIME       SOURCE_KEY  ...  MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00  1BY6WEcLGh8j5v7  ...           22.857507          0.0
1     2020-05-15 00:00:00  1IF53ai7Xc0U56Y  ...           22.857507          0.0
2     2020-05-15 00:00:00  3PZuoBAID5Wc2HD  ...           22.857507          0.0
3     2020-05-15 00:00:00  7JYdWkrLSPkdwr4  ...           22.857507          0.0
4     2020-05-15 00:00:00  McdE0feGgRqW7Ca  ...           22.857507          0.0
...                   ...              ...  ...                 ...          ...
68769 2020-06-17 23:45:00  uHbuxQJl8lW7ozc  ...           20.427972          0.0
68770 2020-06-17 23:45:00  wCURE6d3bPkepu2  ...           20.427972          0.0
68771 2020-06-17 23:45:00  z9Y9gH1T5YWrNuG  ...           20.427972          0.0
68772 2020-06-17 23:45:00  zBIq5rxdHJRwDNY  ...           20.427972          0.0
68773 2020-06-17 23:45:00  zVJPv84UY57bAof  ...           20.427972          0.0

[68774 rows x 9 columns]

In [168]:
df_one_hot = pd.get_dummies(data_clean.SOURCE_KEY, prefix='source')
df_one_hot

       source_1BY6WEcLGh8j5v7  ...  source_zVJPv84UY57bAof
0                           1  ...                       0
1                           0  ...                       0
2                           0  ...                       0
3                           0  ...                       0
4                           0  ...                       0
...                       ...  ...                     ...
68769                       0  ...                       0
68770                       0  ...                       0
68771                       0  ...                       0
68772                       0  ...                       0
68773                       0  ...                       1

[68774 rows x 22 columns]

In [169]:
data_clean = pd.concat([data_clean,df_one_hot], axis=1)

In [170]:
data_clean

                DATE_TIME  ... source_zVJPv84UY57bAof
0     2020-05-15 00:00:00  ...                      0
1     2020-05-15 00:00:00  ...                      0
2     2020-05-15 00:00:00  ...                      0
3     2020-05-15 00:00:00  ...                      0
4     2020-05-15 00:00:00  ...                      0
...                   ...  ...                    ...
68769 2020-06-17 23:45:00  ...                      0
68770 2020-06-17 23:45:00  ...                      0
68771 2020-06-17 23:45:00  ...                      0
68772 2020-06-17 23:45:00  ...                      0
68773 2020-06-17 23:45:00  ...                      1

[68774 rows x 31 columns]

In [171]:
data_clean = data_clean.drop(['SOURCE_KEY'],axis=1)

In [172]:
data_clean

                DATE_TIME  ...  source_zVJPv84UY57bAof
0     2020-05-15 00:00:00  ...                       0
1     2020-05-15 00:00:00  ...                       0
2     2020-05-15 00:00:00  ...                       0
3     2020-05-15 00:00:00  ...                       0
4     2020-05-15 00:00:00  ...                       0
...                   ...  ...                     ...
68769 2020-06-17 23:45:00  ...                       0
68770 2020-06-17 23:45:00  ...                       0
68771 2020-06-17 23:45:00  ...                       0
68772 2020-06-17 23:45:00  ...                       0
68773 2020-06-17 23:45:00  ...                       1

[68774 rows x 30 columns]

In [174]:
y_data = data_clean['TOTAL_YIELD']
y_data

0        6259559.0
1        6183645.0
2        6987759.0
3        7602960.0
4        7158964.0
           ...
68769    7287002.0
68770    7028601.0
68771    7251204.0
68772    6583369.0
68773    7363272.0
Name: TOTAL_YIELD, Length: 68774, dtype: float64

In [178]:
x_data = data_clean.loc[:,data_clean.columns != 'TOTAL_YIELD']

In [179]:
x_data

                DATE_TIME  ...  source_zVJPv84UY57bAof
0     2020-05-15 00:00:00  ...                       0
1     2020-05-15 00:00:00  ...                       0
2     2020-05-15 00:00:00  ...                       0
3     2020-05-15 00:00:00  ...                       0
4     2020-05-15 00:00:00  ...                       0
...                   ...  ...                     ...
68769 2020-06-17 23:45:00  ...                       0
68770 2020-06-17 23:45:00  ...                       0
68771 2020-06-17 23:45:00  ...                       0
68772 2020-06-17 23:45:00  ...                       0
68773 2020-06-17 23:45:00  ...                       1

[68774 rows x 29 columns]

In [185]:
# normalize
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x = x_data.values.astype(float)
x_scaled = min_max_scaler.fit_transform(x)
df_normalize = pd.DataFrame(x_scaled,columns=x_data.columns)

TypeError: ignored