<a href="https://colab.research.google.com/github/CakeNuthep/Super_AI/blob/master/27_09_2020_Quize1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [14]:
weather = pd.read_csv("/content/Plant_1_Weather_Sensor_Data.csv")
weather

                DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00   4135001  ...          22.857507          0.0
1     2020-05-15 00:15:00   4135001  ...          22.761668          0.0
2     2020-05-15 00:30:00   4135001  ...          22.592306          0.0
3     2020-05-15 00:45:00   4135001  ...          22.360852          0.0
4     2020-05-15 01:00:00   4135001  ...          22.165423          0.0
...                   ...       ...  ...                ...          ...
3177  2020-06-17 22:45:00   4135001  ...          21.480377          0.0
3178  2020-06-17 23:00:00   4135001  ...          21.389024          0.0
3179  2020-06-17 23:15:00   4135001  ...          20.709211          0.0
3180  2020-06-17 23:30:00   4135001  ...          20.734963          0.0
3181  2020-06-17 23:45:00   4135001  ...          20.427972          0.0

[3182 rows x 6 columns]

In [69]:
generation = pd.read_csv("/content/Plant_1_Generation_Data.csv",sep=',',error_bad_lines=False)
generation

b'Skipping line 29764: expected 7 fields, saw 13\n'

              DATE_TIME PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00  4135001  ...       0.000    6259559.0
1      15-05-2020 00:00  4135001  ...       0.000    6183645.0
2      15-05-2020 00:00  4135001  ...       0.000    6987759.0
3      15-05-2020 00:00  4135001  ...       0.000    7602960.0
4      15-05-2020 00:00  4135001  ...       0.000    7158964.0
...                 ...      ...  ...         ...          ...
92899  17-06-2020 23:45  4135001  ...    5967.000    7287002.0
92900  17-06-2020 23:45  4135001  ...    5147.625    7028601.0
92901  17-06-2020 23:45  4135001  ...    5819.000    7251204.0
92902  17-06-2020 23:45  4135001  ...    5817.000    6583369.0
92903  17-06-2020 23:45  4135001  ...    5910.000    7363272.0

[92904 rows x 7 columns]

In [70]:
generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92904 entries, 0 to 92903
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    92904 non-null  object
 1   PLANT_ID     92904 non-null  object
 2   SOURCE_KEY   92904 non-null  object
 3   DC_POWER     92903 non-null  float64
 4   AC_POWER     92903 non-null  float64
 5   DAILY_YIELD  92902 non-null  float64
 6   TOTAL_YIELD  92901 non-null  float64
dtypes: float64(4), object(3)
memory usage: 5.0+ MB

In [75]:
datetimeCorrect = generation.DATE_TIME.str.contains('^[0-9]*-[0-9]*-[0-9]* [0-9]*:[0-9]*$', regex=True)
generation = generation[datetimeCorrect == True]

In [74]:
datetimeCorrect

              DATE_TIME PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0      15-05-2020 00:00  4135001  ...       0.000    6259559.0
1      15-05-2020 00:00  4135001  ...       0.000    6183645.0
2      15-05-2020 00:00  4135001  ...       0.000    6987759.0
3      15-05-2020 00:00  4135001  ...       0.000    7602960.0
4      15-05-2020 00:00  4135001  ...       0.000    7158964.0
...                 ...      ...  ...         ...          ...
92899  17-06-2020 23:45  4135001  ...    5967.000    7287002.0
92900  17-06-2020 23:45  4135001  ...    5147.625    7028601.0
92901  17-06-2020 23:45  4135001  ...    5819.000    7251204.0
92902  17-06-2020 23:45  4135001  ...    5817.000    6583369.0
92903  17-06-2020 23:45  4135001  ...    5910.000    7363272.0

[92902 rows x 7 columns]

In [77]:
generation['DATE_TIME'] = pd.to_datetime(generation['DATE_TIME'], format='%d-%m-%Y %H:%M')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
generation

                DATE_TIME PLANT_ID  ... DAILY_YIELD  TOTAL_YIELD
0     2020-05-15 00:00:00  4135001  ...       0.000    6259559.0
1     2020-05-15 00:00:00  4135001  ...       0.000    6183645.0
2     2020-05-15 00:00:00  4135001  ...       0.000    6987759.0
3     2020-05-15 00:00:00  4135001  ...       0.000    7602960.0
4     2020-05-15 00:00:00  4135001  ...       0.000    7158964.0
...                   ...      ...  ...         ...          ...
92899 2020-06-17 23:45:00  4135001  ...    5967.000    7287002.0
92900 2020-06-17 23:45:00  4135001  ...    5147.625    7028601.0
92901 2020-06-17 23:45:00  4135001  ...    5819.000    7251204.0
92902 2020-06-17 23:45:00  4135001  ...    5817.000    6583369.0
92903 2020-06-17 23:45:00  4135001  ...    5910.000    7363272.0

[92902 rows x 7 columns]

In [18]:
weather.head()

             DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0  2020-05-15 00:00:00   4135001  ...          22.857507          0.0
1  2020-05-15 00:15:00   4135001  ...          22.761668          0.0
2  2020-05-15 00:30:00   4135001  ...          22.592306          0.0
3  2020-05-15 00:45:00   4135001  ...          22.360852          0.0
4  2020-05-15 01:00:00   4135001  ...          22.165423          0.0

[5 rows x 6 columns]

In [87]:
weather['DATE_TIME'] = pd.to_datetime(weather['DATE_TIME'])

In [29]:
len(generation.DATE_TIME.unique())

3160

In [23]:
weather.SOURCE_KEY.unique()

array(['HmiyD2TTLFNqkNe'], dtype=object)

In [28]:
len(weather.DATE_TIME.unique())

3182

In [26]:
len(generation.DATE_TIME.unique())

array(['15-05-2020 00:00', '15-05-2020 00:15', '15-05-2020 00:30', ...,
       '06-06-2020 11:45', '06-06-2020 12:00', '06-06-2020 12:15'],
      dtype=object)

In [96]:
print(len(generation))
pd.merge(generation, weather, on='DATE_TIME')

92902

                DATE_TIME PLANT_ID_x  ... MODULE_TEMPERATURE  IRRADIATION
0     2020-05-15 00:00:00    4135001  ...          22.857507     0.000000
1     2020-05-15 00:00:00    4135001  ...          22.857507     0.000000
2     2020-05-15 00:00:00    4135001  ...          22.857507     0.000000
3     2020-05-15 00:00:00    4135001  ...          22.857507     0.000000
4     2020-05-15 00:00:00    4135001  ...          22.857507     0.000000
...                   ...        ...  ...                ...          ...
92893 2020-06-06 12:15:00    4135001  ...          53.016915     0.688047
92894 2020-06-06 12:15:00    4135001  ...          53.016915     0.688047
92895 2020-06-06 12:15:00    4135001  ...          53.016915     0.688047
92896 2020-06-06 12:15:00    4135001  ...          53.016915     0.688047
92897 2020-06-06 12:15:00    4135001  ...          53.016915     0.688047

[92898 rows x 12 columns]